#hero {
  width: 100%;
  align-self: center;
}

.page-content {
  justify-content: center;
}

.orders-text {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

#orders-now {
  border: solid 3px #b3b3b3;
  border-radius: 6px;
  width: auto !important;
  text-decoration: none;
  padding: 10px 40px;
  margin: 60px auto;
  letter-spacing: 5px;
  font-size: 1.75em;
  color: #b3b3b3;
  transition: all 500ms;
}

#orders-now:hover {
  cursor: pointer;
  border-color: #eee;
  background: #eee;
  color: #000;
}


@media (max-width: 600px) {
  #orders-now {
    margin-top: 25px;
    letter-spacing: 4px;
    padding: 10px 25px;
    font-size: 1.1em;
  }
}
