footer {
  padding: 15px;
  margin: 25px -15px 0;
  font-size: 0.6em;
  color: rgba(255,255,255,.5);
  background: #1f1f1f;
  letter-spacing: 0.1em;
}

.footer-icons {
  padding-bottom: 10px;
}

.footer-icons a {
  color: #9a9a9a;
  margin: 5px;
  transition: all .5s;
}
.footer-icons a:hover {
  color: #eee;
}

#woodside {
  height: 35px;
}